/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;;
}
/* header style  */
nav{
   display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #562EFF;
}
.left-nav{
    margin-top: 22px;
    margin-bottom: 21px;
    margin-left: 200px;
    
}
.right-nav{
   
    margin-bottom: 10px;
    margin-right: 290px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;   
}
.left-nav a{
    font-size: 24px;
}
.right-nav a{
    font-size: 16px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px ;
    margin-top: 21px;
    border-radius: 10px;
}
.top-players:hover{
    transform: scale(1.07);
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
    

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
    
    
}

.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    padding-left: 10px;
    font-size: 18px;
}
/*-----------------
 Top blogs styles 
 --------------*/
 .top-blogs:hover{
     transform: scale(1.09);
     transition: transform 3s;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .blogs{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-row-gap: 26px;
 }
 .blog{
     display: flex;
 }
 .blog .thumbnail img{
     width:117px;
     height: 117px;
 }
 img:hover{
     transform: scale(1.2);
     transition: width 2s, height 2s, background-color 2s, transform 2s;
     overflow: hidden;
 }
 .blog-info{
     padding-left: 16px;

 }
 
 .blog-info  a{
     text-decoration: none;
     color: #562EFF;
    }
.blog-title{
        font-size: 20px;
    }
.author-name{
        color: gray;
        font-size: 12px;
 }
 /* courses style ----------- */
 .courses{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 15px;
 }
 .courses:hover{
    box-shadow: 0 4px 8px 0 rgba(233, 62, 62, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .course{
     width: 240px;
     height: 270px;
     margin-right: 1%;
     border: 2px solid gray;
     padding: 18px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
    
 }
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.fill{
    color: #FFC014;
}
.fa-star.empty{
    color:gray;
}
 .course-duration{ 
    background-color: #e99a88a8;
    color: #ED6B4F;
    border-radius: 10%;
    padding: 5px;
}
/* Media queries------------ */
/* for mobile device-------- */
 @media only screen and (max-width:688px) {
     .container{
         width: 100%;
     }
     .players{
         grid-template-columns: repeat(1,1fr);
        
     }
     .player, .blog{
         flex-direction: column;
        justify-content: center;
     }
     .blog{
         align-items: center;

     }
     .blogs{
        
            grid-template-columns: repeat(1,1fr);
            align-items: center;
     }
     .courses{
        grid-template-columns: repeat(1,1fr);
        
     }    
     .course{
        margin-left: 15%;
        align-items: center;
     }
     nav{
         width: 400px;
         margin-right: 0px;
     }
     .left-nav{
         
         margin-left: 2%;
         padding-left: 10px;
         padding-top: 5px;
     }
     .left-nav a{
         font-size: 16px;
     }
     .right-nav{
         padding-right: 5px;
         padding-top: 10px;
         margin-right: 0%;
     }
     .right-nav a{
         font-size: 12px;
     }
 }

 /* Tablet devices --
 */
 @media only screen and (min-width:688px) and (max-width:992px) {
     .container{
         width: 100%;
     }
    .players,.courses{
        grid-template-columns: repeat(2,1fr);
        }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
    nav{
        width: 100%;
    }
     .left-nav{
         margin-left: 5%;
     }
     .left-nav a{
         font-size: 24px;
     }
     .right-nav{
         margin-right: 6%;
     }
     .right-nav a{
         font-size: 16px;
     }
        
}

 